@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Exo:400,800);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #e0d8d9), color-stop(50%, transparent));
  background-image: linear-gradient(0deg, #e0d8d9 50%, transparent 50%);
  background-color: #fff;
  background-size: 10px 10px;
  font-size: 1rem;
  overflow: hidden;
}

.slider {
  width: 500px;
  height: 500px;
  margin: 40px auto;
  position: relative;
}
.slider__item {
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.25s ease, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.25s ease;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.25s ease, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 8px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 100%;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
}
.slider__item--center {
  background-color: #ED8282;
}
.slider__item--left {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #F7D08C;
  opacity: 0;
}
.slider__item > input{
  position: relative;
  top: 75%;
  width: 70%;
  height: 10%;
  text-align: center;
}
.slider__item > input{
  position: relative;
  top: 70%;
  width: 70%;
  height: 13%;
  font-size: 1.1em;
  padding-left: 10px;
  border: 7px solid #b26161;
  color: #764141;
  font-weight: bold;
  border-radius: 16px;
  outline:0px;
}
.fa-envelope-o, .fa-check {
  transition: all 500ms;
}
.fa-envelope-o:hover, .fa-check:hover{
  color: rgb(241, 175, 50);
  cursor: pointer;
  font-size: 12em;  
}

.slider__item--right {
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: #D19FEB;
  opacity: 0;
}
.slider__item.active {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}
.slider__item figure {
  position: absolute;
  top: 37%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider__item figcaption {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Exo";
  color: rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
.slider__item i {
  font-size: 11rem;
  color: rgba(0, 0, 0, 0.5);
}
.slider__nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.slider__button {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.slider__button i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}
.slider__button.active {
  -webkit-animation: animation_slider__button 0.8s ease;
          animation: animation_slider__button 0.8s ease;
}
@-webkit-keyframes animation_slider__button {
  0%,75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animation_slider__button {
  0%,75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider__button--prev {
  left: 20px;
}
.slider__button--prev.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.slider__button--next {
  right: 20px;
}
.slider__button--next.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/*---msj---*/
#msj{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left: 0px;
  /* display: none; */
  /* transition: all 500ms; */
  visibility: collapse;
  background-image: url("../img/fondomsg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#msj figure{
  margin-top: 7%;
}

.slider__item{
  overflow: hidden;
}

.slider__item  #msj{
  padding: 0px;
}

#botonCerrar {
  font-size: 4rem;
}

#idMsjNota{  
  width: 70%;
  margin: 0 auto;
  font-size: 2.1rem;
}